body {
  background-color: antiquewhite;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/snowfall-201496_1920.jpg');
  background-size: cover;
}

.btn {
  background-color: rgb(246, 235, 220);
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(27, 27, 27);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.search {
  margin-bottom: 50px;
  margin-top: 50px;
}
.search-form {
  margin-left: 150px;
}
.search-input {
  margin-left: 50px;
  margin-right: 50px;
}
.search-label {
  color: rgb(247, 242, 242);
  font-size: 25px;
  font-weight: 600;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100vw - 80px);
  margin-left: auto;
  margin-right: auto;
}
.gallery-item {
  text-decoration: none;
}

.stats {
  display: flex;
  justify-content: space-around;
}
.stats-item {
  color: rgb(214, 207, 207);
  display: flex;
  align-items: center;
}
.material-icons {
  margin-right: 5px;
}

img {
  height: 300px;
  object-fit: cover;
  max-width: 100%;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
img:hover {
  transform: scale(1.02);
}
.moreBtn {
  margin: 0;
}

.error {
  color: blue;
}

.moreBtn {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 150px;
}
/*spinner*/

.spinner-icon {
  color: rgb(245, 138, 38);
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-icon:after {
  animation: changeContent 0.8s linear infinite;
  display: flex;
  content: '⠋';
  font-size: 30px;
}

@keyframes changeContent {
  10% {
    content: '⠙';
  }
  20% {
    content: '⠹';
  }
  30% {
    content: '⠸';
  }
  40% {
    content: '⠼';
  }
  50% {
    content: '⠴';
  }
  60% {
    content: '⠦';
  }
  70% {
    content: '⠧';
  }
  80% {
    content: '⠇';
  }
  90% {
    content: '⠏';
  }
}
.brighttheme-container {
  background-color: rgb(245, 187, 120) !important;
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.back_to_top {
  position: fixed;
  font-weight: bold;
  bottom: 80px;
  right: 40px;
  z-index: 9999;
  text-align: center;
  line-height: 30px;
  background: #f5a742;
  color: aliceblue;
  cursor: pointer;
  border-radius: 4px;
  display: none;
  padding: 3px;
}

.back_to_top:hover {
  background-color: whitesmoke;
  color: #f5a742;
}

.back_to_top-show {
  display: block;
}
